@charset 'utf-8';

@import 'theme';
// @import '~bulma/sass/elements/button';
@import '~bulma/sass/components/navbar';

.navbar-burger {
	border: none;
	background: none;
}

.navbar-item {
	height: 100%;
	display: flex;
	align-items: center;
}
